In [19]:
# pykakasi を使って、文字列を英語表記に変更する
from pykakasi import kakasi

kakasi = kakasi()

kakasi.setMode('H', 'a')
kakasi.setMode('K', 'a')
kakasi.setMode('J', 'a')

conv = kakasi.getConverter()

In [20]:
import pandas as pd

In [21]:
df = pd.read_excel('sample.xlsx', skiprows=3)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,売上日,社員ID,氏名,性別,商品分類,商品名,単価,数量,売上金額
0,NaN,NaN,NaN,2020-01-04,a023,河野 利香,女,ボトムス,ロングパンツ,7000,8,56000
1,NaN,NaN,NaN,2020-01-05,a003,石崎 和香菜,女,ボトムス,ジーンズ,6000,10,60000
2,NaN,NaN,NaN,2020-01-05,a052,井上 真,女,アウター,ジャケット,10000,7,70000
3,NaN,NaN,NaN,2020-01-06,a003,石崎 和香菜,女,ボトムス,ロングパンツ,7000,10,70000
4,NaN,NaN,NaN,2020-01-07,a036,西尾 謙,男,ボトムス,ロングパンツ,7000,2,14000

In [22]:
df = df.drop(columns=df.columns[[0,1,2]])
df

           売上日  社員ID      氏名 性別  商品分類     商品名     単価  数量   売上金額
0   2020-01-04  a023   河野 利香  女  ボトムス  ロングパンツ   7000   8  56000
1   2020-01-05  a003  石崎 和香菜  女  ボトムス    ジーンズ   6000  10  60000
2   2020-01-05  a052    井上 真  女  アウター   ジャケット  10000   7  70000
3   2020-01-06  a003  石崎 和香菜  女  ボトムス  ロングパンツ   7000  10  70000
4   2020-01-07  a036    西尾 謙  男  ボトムス  ロングパンツ   7000   2  14000
..         ...   ...     ... ..   ...     ...    ...  ..    ...
219 2020-12-26  a052    井上 真  女  アウター     ダウン  18000   4  72000
220 2020-12-28  a036    西尾 謙  男  アウター     ダウン  18000   3  54000
221 2020-12-30  a003  石崎 和香菜  女  アウター     ダウン  18000   4  72000
222 2020-12-30  a047   上瀬 由和  男  ボトムス  ハーフパンツ   3000   3   9000
223 2020-12-31  a036    西尾 謙  男  ボトムス  ロングパンツ   7000  10  70000

[224 rows x 9 columns]

In [25]:
# Seriesの各要素に対してはmap関数を
f = lambda x: conv.do(x)

df['ローマ字'] = df['氏名'].map(f)
df

,売上日,社員ID,氏名,性別,商品分類,商品名,単価,数量,売上金額,ローマ字
0,2020-01-04,a023,河野 利香,女,ボトムス,ロングパンツ,7000,8,56000,kouno rika
1,2020-01-05,a003,石崎 和香菜,女,ボトムス,ジーンズ,6000,10,60000,ishizaki wakaorina
2,2020-01-05,a052,井上 真,女,アウター,ジャケット,10000,7,70000,inoue makoto
3,2020-01-06,a003,石崎 和香菜,女,ボトムス,ロングパンツ,7000,10,70000,ishizaki wakaorina
4,2020-01-07,a036,西尾 謙,男,ボトムス,ロングパンツ,7000,2,14000,nishio ken
...,...,...,...,...,...,...,...,...,...,...
219,2020-12-26,a052,井上 真,女,アウター,ダウン,18000,4,72000,inoue makoto
220,2020-12-28,a036,西尾 謙,男,アウター,ダウン,18000,3,54000,nishio ken
221,2020-12-30,a003,石崎 和香菜,女,アウター,ダウン,18000,4,72000,ishizaki wakaorina
222,2020-12-30,a047,上瀬 由和,男,ボトムス,ハーフパンツ,3000,3,9000,uese yoshikazu
223,2020-12-31,a036,西尾 謙,男,ボトムス,ロングパンツ,7000,10,70000,nishio ken

In [26]:
df.to_excel('df_output.xlsx')

In [27]:
df

,売上日,社員ID,氏名,性別,商品分類,商品名,単価,数量,売上金額,ローマ字
0,2020-01-04,a023,河野 利香,女,ボトムス,ロングパンツ,7000,8,56000,kouno rika
1,2020-01-05,a003,石崎 和香菜,女,ボトムス,ジーンズ,6000,10,60000,ishizaki wakaorina
2,2020-01-05,a052,井上 真,女,アウター,ジャケット,10000,7,70000,inoue makoto
3,2020-01-06,a003,石崎 和香菜,女,ボトムス,ロングパンツ,7000,10,70000,ishizaki wakaorina
4,2020-01-07,a036,西尾 謙,男,ボトムス,ロングパンツ,7000,2,14000,nishio ken
...,...,...,...,...,...,...,...,...,...,...
219,2020-12-26,a052,井上 真,女,アウター,ダウン,18000,4,72000,inoue makoto
220,2020-12-28,a036,西尾 謙,男,アウター,ダウン,18000,3,54000,nishio ken
221,2020-12-30,a003,石崎 和香菜,女,アウター,ダウン,18000,4,72000,ishizaki wakaorina
222,2020-12-30,a047,上瀬 由和,男,ボトムス,ハーフパンツ,3000,3,9000,uese yoshikazu
223,2020-12-31,a036,西尾 謙,男,ボトムス,ロングパンツ,7000,10,70000,nishio ken

In [58]:
df['結果'] = df[['ローマ字']][(df['社員ID'] == 'a023') & (df['商品分類'] == 'ボトムス')]

In [78]:
# 欠損値だけの行を抽出
df[df['結果'].isnull() ].head()

,売上日,社員ID,氏名,性別,商品分類,商品名,単価,数量,売上金額,ローマ字,結果
1,2020-01-05,a003,石崎 和香菜,女,ボトムス,ジーンズ,6000,10,60000,ishizaki wakaorina,NaN
2,2020-01-05,a052,井上 真,女,アウター,ジャケット,10000,7,70000,inoue makoto,NaN
3,2020-01-06,a003,石崎 和香菜,女,ボトムス,ロングパンツ,7000,10,70000,ishizaki wakaorina,NaN
4,2020-01-07,a036,西尾 謙,男,ボトムス,ロングパンツ,7000,2,14000,nishio ken,NaN
5,2020-01-09,a013,宮瀬 尚紀,男,トップス,ニット,8000,7,56000,miyase naoki,NaN

In [79]:
# 欠損値以外の行を抽出
df[~df['結果'].isnull()].head()

,売上日,社員ID,氏名,性別,商品分類,商品名,単価,数量,売上金額,ローマ字,結果
0,2020-01-04,a023,河野 利香,女,ボトムス,ロングパンツ,7000,8,56000,kouno rika,kouno rika
38,2020-03-06,a023,河野 利香,女,ボトムス,ロングパンツ,7000,9,63000,kouno rika,kouno rika
49,2020-03-27,a023,河野 利香,女,ボトムス,ハーフパンツ,3000,8,24000,kouno rika,kouno rika
62,2020-04-24,a023,河野 利香,女,ボトムス,ジーンズ,6000,4,24000,kouno rika,kouno rika
63,2020-04-29,a023,河野 利香,女,ボトムス,ジーンズ,6000,1,6000,kouno rika,kouno rika